<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register user</title>
</head>
<body>
    <h2>Register your Account</h2>
    <form method="post" action="http://localhost:5001/api/contacts/">
        <div class="username">
            <label for="register" id="register">Username: </label>
            <input name="username" type="text" id="register" required>
        </div>

        <div class="email">
            <label for="email" id="email">Email: </label>
            <input name="email" type="email" id="email" required>
        </div>

        <div class="password">
            <label for="password" id="password">Password: </label>
            <input name="password" type="password" id="password" required>
        </div>

        <button>submit</button>
    </form>
</body>
</html>